/* FranklinGothic-300 - latin */
@font-face {
  font-family: "FranklinGothicURW";
  font-style: normal;
  font-weight: 300;
  src: local(""),  
    url("./FranklinGothicURW-Boo.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./FranklinGothicURW-Boo.woff") format("woff"),; /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* FranklinGothic-700 - latin */
@font-face {
  font-family: "FranklinGothicURW";
  font-style: normal;
  font-weight: 700;
  src: local(""),  
    url("./FranklinGothicURW-Med.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("./FranklinGothicURW-Med.woff") format("woff"),; /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}